@use "../../../sass/base/utilities";
@use "../../../sass/libs/mixins";

///NESTED MIXIN TECHNIQUE>>
/// for responsivenes on multile or single values
/// for a single liner instead of copying multimpletimes
@mixin border-top {
  //DEFINES BORDER RARIOUS ON SCREEN SIZE
  // @include mixins.respond(tab-port) {
  //   border-radius: 25px;
  // }
  @include mixins.respond(phone) {
    border-radius: 25px;
  }
}

@mixin boxshadow {
    box-shadow: var(--wp--preset--shadow--natural);
    -webkit-box-shadow: var(--wp--preset--shadow--natural);
}

@mixin boxshadow_s {
    box-shadow: var(--wp--preset--shadow--natural-simple);
    -webkit-box-shadow: var(--wp--preset--shadow--natural-simple);
}

@mixin boxshadow_s_inset {
    box-shadow:  1px 1px 7px 0px rgba(34, 38, 51, 0.5);
    -webkit-box-shadow:  1px 1px 7px 0px rgba(34, 38, 51, 0.5);
}

.login__page {
    height: 77vh;
    margin-top: 1.5rem;
    margin-bottom: 0.9rem;
    background-size: contain;
    background-position: top;
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 2.1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include boxshadow_s_inset;

    @include mixins.respond(phone) {
        height: fit-content;
        flex-direction: column;
    }

    @include border-top;

    &-block {
        margin: 0 1.5rem;
        @include boxshadow;

    &__left {
        background-color: #3b3b3b; //#ff9797;
        border-radius: 25px;
        min-width: 63rem;
        z-index: 2;

        @include mixins.respond(phone) {
            min-width: 56rem;
        }
        @include mixins.respond(phone) {
            min-width: 39rem;
        }
    }

    &__right {
        background-color: #fff;
        border-radius: 0 25px 25px 0;
        width: 100%; //70rem;
        max-width: 88rem;
        margin-left: -4.5rem;

        @include mixins.respond(phone) {
            margin-top: -3.6rem;
            height: 37.6rem;
            width: 95.4%;
            border-radius: 0 0 25px 25px;
            /* text-align: center; */
            margin-left: auto;
        }
        @include mixins.respond(phone-small) {
            margin-top: -3.6rem;
            height: 37.6rem;
            width: 94%;
            border-radius: 0 0 25px 25px;
            /* text-align: center; */
            margin-left: auto;
        }
    }
    }

    &-form {
        margin-top: 11.3rem;
        margin-bottom: 4rem;
        @include mixins.respond(phone) {
            margin-bottom: 0;
        }
        @include mixins.respond(phone-small) {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    &-post {
        height: 9rem;
        //background-color: #5a575761;
        display: flex;
        justify-content: center;
        margin: 0 31.5%;
        padding: 3rem 1rem;
        margin-top: 0.9rem;
        border-radius: 12px;

        &_logo {
            width: 6rem;
            margin-top: -5rem;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            @include boxshadow_s;
            }
    }
    }

.form {
    z-index: 9;

    &__title {
        font-size: 2.1rem;
        color: #5079F2;
        margin-top: -1rem;
        margin-bottom: 2rem;
        font-weight: 400;
    }

    &__login {
        margin: -2rem auto;
        max-width: 55rem;
        background-color: #fefefef7;
        padding: 5rem 7rem;
        border-radius: 25px;
        @include boxshadow_s;
             @include mixins.respond(phone-small) {
                padding: 5rem 7rem;
        }
    }

    &__label {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 0.75rem;
        color: #3b3939de;
    }

    &__input {
        display: block;
        font-family: inherit;
        font-size: 1.5rem;
        color: #676767;
        padding: 1.25rem 1.75rem;
        border: none;
        width: 100%;
        border-radius: 1rem;
        background-color: #f2f2f2;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    &__input:focus {
        outline: none;
        border-bottom: 3px solid #55c57ab4;
    }

    &__input:focus:invalid {
        border-bottom: 3px solid #ff7830be;
    }

    &__input::-webkit-input-placeholder {
        color: #bbb;
    }

    &__group:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    &-signup {
        color: #5079F2;
        text-decoration: none;
    }

    &__forgot-password {
        color: #8e8e97;
        font-size: 1.6rem;
        border-radius: 10rem;
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        position: relative;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        font-weight: 400;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border: none;
        cursor: pointer;
        margin-top: -1.8rem;
        margin-bottom: 1.8rem;
    }
    &__group{
        margin-top: 2rem;
    }
    }

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.btn_form,
.btn_form:link,
.btn_form:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 1rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: -webkit-fill-available;
  height: 5rem;
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
 @include boxshadow_s;
}

.btn_form:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn_form:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn_form:focus {
  outline: none;
  background-color: #8991e8;
}

.btn_form--white {
  background-color: #fff;
  color: #777;
}

.btn_form--white::after {
  background-color: #fff;
}

.btn_form--green {
  background-color: #55c57a;
  color: #fff;
}

.btn_form--green::after {
  background-color: #55c57a;
}

.btn_form--pink {
  background-color: #ff9797;
  color: #fff;
}

.btn_form--pink::after {
  background-color: #ff9797;
}

.btn_form--purple {
  background-color: #5079F2;
  color: #fff;
}

.btn_form--purple::after {
  background-color: #8991e8;
}
.margin_form-left {
  margin-left: 6rem;
}
//#363B3E
//#1a1a1b footer bg color, place in themeColores
.margin_form-top {
  margin-top: 1.2rem;
}
