@use '../../../../sass/layout/grid';
@use '../../../../sass/layout/layout-elements';

.landing{
    &__wrapper{
        @include grid.grid_general(
                    $min_val:30%,
                    $fit:2,
                    $max_val:1fr,);
    }
    &__header{
        

        &-logo{
            max-height: 30%;
            border-radius: 12px;
        }

    }
}