@use '../../../../../sass/libs/mixins';

.bg_video{
    position: absolute;
    border-radius: 12px;
    z-index: -1;
    justify-content: center;

    //> NORMAL INCLUES BIG_DESKTOP
    margin-top: -15%;
    margin-left: -26.5%;
    width: 151%;
    height: 136vh;

    @include mixins.respond(tab-land){
        margin-top: -20%;
        margin-left: -13.5%;
        width: 175%;
        height: 123vh;
    }

    @include mixins.respond(tab-port){
        margin-top: -22%;
        margin-left: -10.5%;
        width: 207%;
        height: 123vh;
    }

    @include mixins.respond(phone-large){
        margin-top: -21%;
        margin-left: -34.5%;
        width: 252%;
        height: 114vh;
    }

    @include mixins.respond(phone){
        margin-top: -33%;
        margin-left: -50.5%;
        width: 309%;
        height: 121vh;
    }

    @include mixins.respond(phone-small){
        margin-top: -47%;
        margin-left: -34.5%;
        width: 414%;
        height: 120vh;
    }

    @include mixins.respond(phone-xsmall){
        margin-top: -70%;
        margin-left: -34.5%;
        width: 371%;
        height: 101vh;
    }

}

.paragragh{
    text-align: left;
    min-width: 20rem;
    width: 45rem;

    //> INVERTS GRID POSITION
    @include mixins.respond(tab-port){
        order: 2;
        width:100%;
        margin-top: -3rem;
    }
 
    //> INVERTS GRID POSITION
    @include mixins.respond(phone){
        order: 2;
        width:100%;
        margin-top:-1.8rem;
    }

    &__wrapper {
        will-change: opacity, transform;
        opacity: 1;
        transform: none;
        &-col {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        font-size: 3rem;
        line-height: 1;
        font-weight: 600;
        color: #222633c6;
    }

    &__desc {
        --tw-space-reverse: 0.5;
        margin-top: calc(1.5rem * calc(1 - var(--tw-space-reverse)));
        font-size: 1.8rem;
        color: rgb(250, 250, 250);
        @include mixins.respond(tab-port){
            margin-top: 1rem;
        }
        //> changes lay out position
        @include mixins.respond(phone-xsmall){
            font-size: 1.4rem;
        }
        @include mixins.respond(phone-small){
            font-size: 1.5rem;
        }
    }

    &__stack {
        --tw-space-reverse-2: 0.2;
        margin-top: calc(1.5rem * calc(1 - var(--tw-space-reverse-2)));
        
        &-img{
            width: 45rem;
            margin-left: -3.3%;  
            //> changes lay out position
            @include mixins.respond(phone){
                width: 35rem;  

            }

        }
    }
   
}

.clr_black{
    color: rgba(0, 0, 0, 0.786) !important;
}