.btn {
    background-color: #222633e5;
    color: #fff;
    height: 4.5rem;
    width: 21rem;
    position: absolute;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    flex-wrap: wrap;
   
    font-size: 1.8rem;
    bottom: 0.5%;
    left: 33%;
    box-shadow: var(--wp--preset--shadow--natural);
}